body {
    background-color: gray;
}

p {
    color: rgb(148, 146, 146);
}

.blue-text {
    color: rgb(65, 165, 216)
}

.white-text {
    color: white;
}

.main-container {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.main-container>* {
    flex-basis: 100%;
}

.social-media-icons-container {
    background-color: rgb(20, 20, 20);
    display: flex;
    width: fit-content;
    gap: 15px;
    align-self: flex-end;
    padding: 0px 15px;
}

.social-media-icons-container img {
    height: 20px;
    width: auto;
    opacity: 0.5;
}

.section-1-container {
    padding-top: 20px;
    border-bottom: 1px solid rgb(132, 124, 123);
    padding-left: 20px;
}

.box-1 {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
    gap: 100px;
}

#profile-picture {
    height: 100px;
}

.name-and-title {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: 20px;
}

.name-and-title>* {
    margin: 0px;
}

.box-2 {
    display: flex;
    gap: 10px;
    width: fit-content;
    justify-content: center;
}

.personal-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 20px;
}

.personal-information>p {
    margin: 0;
}

.box-3 {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section-3-container {
    padding: 70px;
}

.section-3-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-prog-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.skill-prog-bar>* {
    margin: 0;
}

progress {
    width: 250px;
    height: 20px;
    background-color: green;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill-container {
    display: flex;
    width: fit-content;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.skill-container>* {
    margin: 0px;
}

.skill-box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

.language-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle-container {
    display: flex;
    gap: 1px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.exp-or-edu-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.exp-or-edu-container>* {
    margin: 0px;
}

.dotted-border {
    border-bottom: 2px dotted rgb(132, 124, 124);
}

.company-and-date-container {
    display: flex;
    width: fit;
    gap: 25px;
}

.company-and-date-container>* {
    margin: 0px;
}

.section-header {
    background-color: rgb(55, 55, 55);
    width: 75%;
    padding: 5px;
}

@media (min-width: 700px) {
    .main-container {
        flex-direction: column;
        width: 70vw;
        margin: auto;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .box-1 {
        flex-direction: row;
        gap: 20px;
    }

    .box-3 {
        width: 75%;
        align-self: center;
    }

    .box-1-and-box-2 {
        display: flex;
        align-self: center;
        width: 75%;
        justify-content: space-between;
    }

    .section-2 {
        padding-top: 70px;
    }

    .section-3 {
        align-self: flex-end;
        padding-right: 50px;
    }

    .section-2-and-section-3-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .exp-or-edu-container {
        width: 75%;
    }

    .dotted-border {
        width: 75%;
    }
}